.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-body,
.modal-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid-container-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Adjust the gap between the columns as needed */
}

.grid-item {
  width: 100%;
}

.grid-item:last-child {
  margin-bottom: 10px;
}

.grid-header {
  margin-bottom: 20px;
}
